/* .special__item-block {
  width: 540px;
  height: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.special__item{
  margin-right: 30px;
}
.special__item:last-child{
  margin-right: 0;
}

.special__item-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  background: #ffffff;
  border-radius: 4px;
}

.special__item-title {
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  opacity: 0.6;
  margin-bottom: 8px;
}

.special__item-text {
  font-family: Spartan;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}
