
.clother__item {
  position: relative;
  margin-bottom: 30px;
  cursor: pointer;
}

.clother__info {
  display: flex;
  justify-content: space-between;
}

.clother__price{
  display:flex;
}

.clother__price-new {
  margin-right: 4px;
  font-family: Spartan;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #121212;
}

.clother__price-discount {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 13px;
  text-decoration-line: line-through;
  color: #121212;
  opacity: 0.4;
}

.clother__text {
  font-size: 14px;
  line-height: 16px;
  color: #121212;
  margin-top: 16px;
  margin-bottom: 12px;
  opacity: 0.6;
}

.clother__discount {
  position: absolute;
  color: #ffffff;
  text-align: center;
  left: 0;
  width: 53px;
  height: 31px;
  padding: 9px 8px;
  background: #e91e63;
}