.product__block {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.product__block-smallimage {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}

.product__smallImage {
  margin-bottom: 16px;
  width: 94px;
  height: 114px;
}

.product__block-main {
  margin-right: 30px;
}

@media (max-width: 1150px) {
  .product__block {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .product-select__wrapper {
    justify-content: center;
  }
}

@media (max-width: 620px) {
  .product__block-smallimage {
    display: none;
  }
}

/* .product__size {
  margin-right: 16px;
}

.product__color {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: #121212;
}

.product__color span {
  opacity: 1;
  text-transform: capitalize;
}

.product__size {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: #121212;
  opacity: 0.6;
}

.product__size span {
  opacity: 1;
} */
