.clother {
  margin-top: 73px;
  margin-bottom: 45px;
}

.clother__item{
  position: relative;
  width: 255px;
  height: 378px;
}

.clother__main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
  flex-wrap: wrap;

}

.clother__main-title {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 25px;
  text-transform: uppercase;
  color: #121212;
}

.clother__menu-sorting {
  display: flex;
  align-items: center;
}

.clother__main li {
  margin: 0px 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 13px;
  cursor: pointer;
  color: #121212;
  opacity: 0.6;
}

.clother__main .active {
  font-weight: 500;
  color: #121212;
  opacity: 1;
}


.clother__main li:last-child {
  margin-right: 0;
}

.clother__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.clother__sorting-btn__mobile {
  width: 24px;
  height: 24px;
  display: none;
}

.clother__sorting-btn__mobile--active {
  display: block;
  justify-content: flex-end;
}

.clother__sorting-btn__mobile img {
  cursor: pointer;
  width: 100%;
}



@media (max-width: 825px) {
  .clother__list{
    flex-wrap: wrap;
    justify-content: center;
  }
  .clother__item{
    margin: 0 15px 30px 15px;
  }
}

@media (max-width: 790px) {
  .clother__main{
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 750px) {
  .nav__menu {
    width: 100%;
  }
  .clother__menu-sorting{
    display: none;
  }
  .clother__main-sorting--active {
    display: flex;
    flex-direction: column;
  }
  .clother__main li {
    width: 100%;
    font-size: 16px;
    margin: 5px 0;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .clother{
    margin-top: 40px;
  }
}