.info__block{
	background: rgb(0, 0, 0);
	width: 100vw;
	color: rgb(255, 255, 255);
}
.info__block-section{
	height: 24px;
	margin: 0px auto;
	padding: 0px 15px;
	max-width: 1140px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.info__block-about{
	display: flex;
 
	justify-content: flex-start;
	flex-wrap: wrap;
}

.info__block-about div{
	margin-right: 30px;
	display: flex;
	align-items: center;
}

.info__block-about div img{
	margin-right: 10px;
}

.info__block-section span{
	font-family: Spartan;
font-style: normal;
font-weight: 500;
font-size: 11px;
line-height: 12px;
}

.info__block--phone{
	background-image: url(../../img//icons/Header/Vector.png);
	background-repeat: no-repeat;
	padding-left: 20px;
}

.info__block--adress{
	background-image: url(../../img//icons/Header/adress.svg);
	background-repeat: no-repeat;
	padding-left: 20px;
}

.info__block--time{
	background-image: url(../../img//icons/Header/Vector\ \(5\).svg);
	background-repeat: no-repeat;
	padding-left: 20px;
}
 

@media (max-width: 650px) {
	.socialicons{
		display:none;
	}
}

@media (max-width: 550px) {
	.info__block-section span{
		font-size: 8px;
		background: none;
		padding: 0;
	}
	 
}



@media only screen and (min-width : 768px) and (max-width : 1023px) {

}