.nav {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px 19px 15px;
}

.nav__menu-list {
  display: flex;
  margin: 0;
}

.menu-item {
  list-style: none;
  margin: 0 16px;
  font-family: Spartan;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #121212;
}

.header-nav-logo {
  font-family: "Playfair Display SC", serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}

.nav__info {
  display: flex;
  justify-content: space-between;
  gap: 28px;
}

.active-link {
  font-weight: 600;
  color: #121212;
}

.navbar__navigation-btn__mobile {
  width: 24px;
  height: 24px;
  display: none;
}

.navbar__navigation-btn__mobile--active {
  display: block;
  /* justify-content: flex-end; */
}

.navbar__navigation-btn__mobile img {
  cursor: pointer;
  width: 80%;
}

@media (max-width: 955px) {
  .nav {
    
  }
  .nav__menu-list{
    display: none;
  }

  .nav__menu-list--active{ 
      width: 30%;
      z-index: 50;
      height: 100vh;
      position: fixed;
      /* top: -100vh; */
      left: 0;
      display: flex;
      flex-direction: column;
    
 
      /* border-bottom-right-radius: 100%;
      border-bottom-left-radius: 100%; */
      transition: all 650ms cubic-bezier(1, 0, 0, 1);
      box-shadow: 0 0 0 9999px rgba(0,0,0, 0.3);
  }

  .menu-item{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin:30px;
  }

  .nav__menu-list--active{
    top: 0;
    border-radius: initial;
  }
  /* .menu-item {
    width: 100%;
    font-size: 16px;
    margin: 5px 0;
    text-align: center;
  } */
}
/* 
@media (max-width: 670px) {
  .nav__menu {
    width: 100%;
  }
  .nav__menu-list {
    display: none;
  }
  .nav__menu-list--active {
    display: flex;
    flex-direction: column;
  }
  .menu-item {
    width: 100%;
    font-size: 16px;
    margin: 5px 0;
    text-align: center;
  }
} */

@media only screen and (min-width: 768px) and (max-width: 1023px) {
}
