.nav{
	display:flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 0 19px 0;
}

.nav__menu-list{
	display:flex;
	margin: 0;
}

.nav__menu-item{
	list-style: none;
	margin: 0 16px;
	font-family: Spartan;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: #121212;
}

.nav__logo{
		font-family: "Playfair Display SC", serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
}

.nav__info{
	display: flex;
		justify-content: space-between;
		gap: 28px;
}