.socialicons img{
	margin: 0 10px;
	width: 14px;
	height: 14px;

  cursor: pointer;

  transition: all 0.5s linear;
}

.socialicons img:hover{
  
	transform: scale(1.2)
}

.socialicons img:last-child{
	margin-right: 0;
}
